<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ .title }}</title>
</head>
<style>
body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: PingFangSC-Regular;
  font-size: 20px;
}

form {
  font-family: PingFangSC-Regular;
  font-size: 16px;
  color:purple;
}

#name {
  text-align:center;
  color: red;
}
</style>
<body>
<h1>{{ .title }}</h1>

<p>可选择多个文件上传</p>

<form action="/upload" method="post" enctype="multipart/form-data">
    <table id="form">
      <tr><td id="name">Name:</td> <td><input type="text" name="name"></td></tr>
      <tr><td>Email:</td> <td><input type="email" name="email"></td></tr>
      <tr><td>Files:</td> <td><input type="file" name="files" multiple></td></tr>
    </table>
    <input id="submit" type="submit" value="上传">
</form>
</body>
</html>